:root {
  box-sizing: border-box;
  color: black;
  font-size: 62.5%;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide y-scrollbar in Chrome & Safari */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

/* GENERAL STYLES */

li {
  list-style: none;
  display: inline-block;
}

/* LAYOUT */

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media only screen and (max-width: 767px) {
  .hidden-md-down {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    max-width: 3600px;
    margin: 0 auto;
  }
}

/* TYPOGRAPHY */

@font-face {
  font-family: 'Anton';
  src: url('../assets/fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../assets/fonts/EBGaramond-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 7rem;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'EB Garamond';
  font-size: 3rem;
}

p,
h4,
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
}

a {
  text-decoration: none;
  color: black;
}

.dot {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* TOP HEADER */
header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .top-header {
  background-color: white;
}

header>nav {
  margin-left: auto;
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.top-header {
  width: 100%;
}

.top-header .brand {
  text-align: center;
}

@media only screen and (min-width: 767px) {
  .top-header {
    width: unset;
  }

  .top-header .brand {
    text-align: left;
    text-align: initial;
    padding: 0 15px;
  }
}

.top-header .brand .name {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.top-header nav ul li {
  float: left;
  position: relative;
}

header nav ul li a {
  padding: 0 10px;

}

header nav ul li a .icon {
  font-size: 2.5rem;
}

.social-nav {
  text-align: center;
  font-size: 3rem;
}

/* 
*
*    SECTIONS 
*
*/

/* HOWDY SECTION */
.howdy {
  background: #fc5956;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.howdy h1 {
  padding: 16vh 0;
  color: #f8f8f8;
  font-size: 20rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.howdy .dot {
  color: #1c1b1f;
  font-size: 22rem;
}

.howdy p {
  font-size: 3rem;
  color: #f8f8f8;
  text-align: center;
  margin: 0 auto;
}

.howdy strong {
  color: #1c1b1f;
}

/* WORK SECTION */

.work {
  background: #f8f8f8;
  padding-bottom: 8vh;
}

.work .work-header {
  text-align: initial;
  margin: 0 auto;
  padding: 8vh 0 0 8vh;
  font-size: 7rem;
}

.work .work-title p {
  padding: 0 8vh 4vh 8vh;
  text-align: center;
  font-size: 3rem;
}

.work .work-title .dot {
  color: #fc5956;
}

/* WORK GALLERY */

.work main {
  display: grid;
  margin: 0 2vh;
  grid-template-columns: 1fr;
}

.work-card {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.2);
  background: #fff;
  line-height: 1.3;
  border-radius: 5px;
  min-width: 50%;
  flex: 1 0 20%;
  margin: 25px;
}

.work-card .meta {
  text-align: center;
  padding: 1vh 2vh;
  background-color: #4ECDC4;
}

.work-card .meta svg {
  width: 100%;
  max-width: 300px;
  height: 400px;
}

.work-card .description {
  padding: 2.5rem 3.5rem;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.work-card .description h2 {
  line-height: 1.4;
  margin: 1rem 0 0 0;
}

.work-card .description h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #808080;
  margin-top: 10px;
}

.read-more {
  margin-bottom: 0;
  padding: 1.2rem;
  background: #fc5956;
  border: 2px solid #fc5956;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  position: relative;
}

.code {
  margin-bottom: 20px;
  margin-top: 10px;
}

.work-card p {
  position: relative;
}

.work-card p:first-of-type {
  margin-top: 3rem;
}

@media only screen and (min-width: 1024px) {
  .work main {
    grid-template-columns: 1fr 1fr;
    margin: 0 8vh;
  }
}

@media only screen and (min-width: 1600px) {
  .work-card {
    max-width: 700px;
  }

  .work main {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 8vh;
  }

  .work-card .description {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
}

@media only screen and (min-width: 2400px) {
  .work main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 8vh;
  }
}


/* ABOUT */

.about {
  background: #f2c041;
  padding-bottom: 8vh;
}

.about .details {
  width: 100%;
}

.about .details h1 {
  margin: 0 auto;
  color: #fc5956;
  padding: 8vh 0 0 8vh;
}

.about .details h2 {
  font-size: 2rem;
}

.about .details p {
  margin: 4vh 8vh;
  font-size: 2.2rem;
  line-height: 2;
}

.about .details .dot {
  color: #1c1b1f;
}

.about .details a {
  color: #fc5956;
}

.texas svg {
  margin: 6vh;
}

.heart {
  animation: 0.8s infinite beatHeart;
}

@keyframes beatHeart {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 767px) {
  .about {
    background: -webkit-gradient(linear,
        left top,
        right top,
        from(#f8f8f8),
        color-stop(50%, #f8f8f8),
        color-stop(50%, #f2c041),
        to(#f2c041));
    background: -webkit-linear-gradient(left,
        #f8f8f8 0%,
        #f8f8f8 50%,
        #f2c041 50%,
        #f2c041 100%);
    background: -o-linear-gradient(left,
        #f8f8f8 0%,
        #f8f8f8 50%,
        #f2c041 50%,
        #f2c041 100%);
    background: linear-gradient(to right,
        #f8f8f8 0%,
        #f8f8f8 50%,
        #f2c041 50%,
        #f2c041 100%);
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about .details {
    width: 50%;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .texas {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .texas svg {
    width: 100%;
  }
}

/* CONTACT */

.contact .title h3 {
  color: #fc5956;
  padding-left: 4vh;
  margin: 4vh auto;
}

.contact .title h1 {
  padding-left: 4vh;
  margin: 0 auto 4vh 0;
}

.contact .title .dot {
  color: #f2c041;
}

address p strong {
  color: #fc5956;
}

address .icon,
address p {
  padding-left: 4vh;
  margin: 0 auto;
  margin-bottom: 4vh;
}

@media only screen and (min-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contact .title {
    padding: 4vh;
  }

  .contact .contact-details {
    width: 50%;
  }

  address .icon,
  address p {
    text-align: center;
    padding-left: 4vh;
  }
}

/* FOOTER */

footer {
  background: #1c1b1f;
}

.socials ul {
  text-align: center;
  padding-left: 0;
}

.socials {
  padding: 4vh;
}

.socials ul li a {
  padding: 0 15px;
}

.socials .icon {
  text-align: center;
  font-size: 3rem;
  color: #f8f8f8;
}